<h1>Admin</h1>

<div>
  <a href="#" class="hide_show" data-hide-show-id="treemap" data-hide-show-group="main_charts">Incidents by location</a> |
  <a href="#" class="hide_show" data-hide-show-id="ward21" data-hide-show-group="main_charts">Ward 21</a> |
  <a href="#" class="hide_show" data-hide-show-id="ward31" data-hide-show-group="main_charts">Ward 31</a>
</div>

<div id="treemap" class="treemap main_charts" data-url="/admin/api/incidents_by_location"></div>
<div id="ward21" class="treemap hide main_charts" data-url="/admin/api/incidents_by_location/ward_21"></div>
<div id="ward31" class="treemap hide main_charts" data-url="/admin/api/incidents_by_location/ward_31"></div>

<legend>High Severity</legend>

<table class="table table-bordered table-striped table-hover">
	<th>Risk To Safety</th>
	<th>Location</th>
	<th>Incident Type</th>
	<th>Have We Apologised?</th>
	<th>Patient Satisfied?</th>

	<%  incidents.each do |o| %>
		 <% if o[:severity] =="red" %>
			<tr class="error" id="<%= o[:id] %>" onclick="viewDetail(event);">
				<td style="width:20%"><%= o[:safety] %></td>
				<td style="width:20%"><%= o[:location] %></td>
				<td style="width:20%"><%= o[:type] %></td>
				<td style="width:20%"><%= o[:apologised] %></td>
				<td style="width:20%"><%= o[:satisfied] %></td>

			</tr>
		<% end %>
       	<% end %>
    </table>
     <legend>Medium Severity</legend>
	<table class="table table-bordered table-striped table-hover">
	<th>Risk To Safety</th>
	<th>Location</th>
	<th>Incident Type</th>
	<th>Have We Apologised?</th>
	<th>Patient Satisfied?</th>

	<% incidents.each do |o| %>
	 <% if o[:severity] =="amber" %>
	<tr class="warning" id="<%= o[:id] %>" onclick="viewDetail(event);">
		<td style="width:20%"><%= o[:safety] %></td>
		<td style="width:20%"><%= o[:location] %></td>
		<td style="width:20%"><%= o[:type] %></td>
		<td style="width:20%"><%= o[:apologised] %></td>
		<td style="width:20%"><%= o[:satisfied] %></td>
	</tr>
	<% end %>
        <% end %>
    </table>
    <legend>Low Severity</legend>
	<table class="table table-bordered table-striped table-hover">
	<th>Risk To Safety</th>
	<th>Location</th>
	<th>Incident Type</th>
	<th>Have We Apologised?</th>
	<th>Patient Satisfied?</th>

	<% incidents.each do |o| %>
	 <% if o[:severity] =="green" %>
	<tr class="success" id="<%= o[:id] %>" onclick="viewDetail(event);">

		<td style="width:20%"><%= o[:safety] %></td>
		<td style="width:20%"><%= o[:location] %></td>
		<td style="width:20%"><%= o[:type] %></td>
		<td style="width:20%"><%= o[:apologised] %></td>
		<td style="width:20%"><%= o[:satisfied] %></td>
	</tr>
	<% end %>
        <% end %>
    </table>
    <script>
    function viewDetail(e)
    {
    	window.location ="admin/incident/"+e.srcElement.parentElement.id;
    }
    </script>
