<div class="page-header">
	<h1><%=params[:type_string]%></h1>
</div>
<form action="/feedback/<%= params[:type] %>" method='post' class="form-horizontal">
  <div class="control-group">
    <label class="control-label" style="display:inline-block; line-height:1.2; padding-left:5px;" for="incident_options">Reasons</label>
    <% if params[:type] == "drug-error" %>
      <% drug_options.each do |o| %>
      <div class="controls">
        <label class="checkbox" for="<%= o[:value]%>">        
          <input type="checkbox" style="vertical-align:top; margin-top:3px;" name="incident_options[]" id="<%= o[:value]%>" value="<%= o[:value]%>" <% if params[:incident_options].include?(o[:value]) %>checked<% end %> >
          </input><%= o[:name] %>
        </label>
      </div>
      <% end %>
    <% elsif params[:type] == "miscommunication"%>
      <% miscommunication_options.each do |o| %>
      <div class="controls">
        <label class="checkbox" for="<%= o[:value]%>">        
          <input type="checkbox" style="vertical-align:top; margin-top:3px;" name="incident_options[]" id="<%= o[:value]%>" value="<%= o[:value]%>" <% if params[:incident_options].include?(o[:value]) %>checked<% end %> >
          </input><%= o[:name] %>
        </label>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="control-group">
    <label class="control-label" for="general_comments">Other Comments</label>
    <div class="controls">
      <textarea name="incident_comments" rows="3"><%= params[:incident_comments] %></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Next</button>
    </div>
  </div>
</form>